<h1>Add a new Product</h1>

<%= simple_form_for @product do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.association :warehouse %>
  <%= f.submit %>
<% end%>
