<h1><%= @warehouse.name %></h1>

<p> Prodcuts found in <%= @warehouse.name %> in <%= @warehouse.location %></p>

<%= link_to "Back", warehouses_path %>
<%= link_to "Edit", warehouses_path(@warehouse) %>
<%= link_to "Delete", warehouse_path(@warehouse), method: :delete, data: { confirm: "Are you sure?" } %>
