<div class="container">
  <h3>Prodcuts found in <%= @warehouse.name %> in <%= @warehouse.location %>:</h3>
  <ol>
    <% @warehouse.products.each do |product|%>
    <li><%= link_to product.name, product_path(product) %></li>
    <% end%>
  </ol>

  <hr>
    <ul>
      <li><%= link_to "Create a new Product", new_product_path %></li>
      <li><%= link_to "Go to all Warehoues", warehouses_path %></li>
      <li><%= link_to "Edit this Warehouse", edit_warehouse_path(@warehouse) %></li>
      <li><%= link_to "Delete this Warehouse", warehouse_path(@warehouse), method: :delete, data: { confirm: "Are you sure?" } %></li>
    </ul>
  <hr>
</div>
